<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edid Comment</title>
</head>
<body>
<div>
    <form th:action="@{'/editComment/{commentId}'(commentId=${comment.commentId})}"
          th:object="${comment}" method="post">
        <label for="new-comment-text">Comment</label>
        <textarea id="new-comment-text" th:field="*{content}" th:text="${comment.content}"></textarea>
        <input th:if="${page!=null}" type="hidden" name="page" th:value="${page}">
        <button type="submit">Save</button>
    </form>
    <div th:if="${page!=null}">
        <form th:action="@{'/profile/cancelEdit/'+${commentId}}">
            <input type="submit" value="Cancel">
        </form>
    </div>
    <div th:unless="${page!=null}">
        <a th:href="@{'/cancelEdit/'+${commentId}}" th:text="'Cancel'">Cancel</a>
    </div>
</div>
</body>
</html>
