<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reply Comment</title>
</head>
<body>
<div th:text="${comment.content}"></div>
<form action="#" th:action="@{'/replyOnComment/{commentId}'(commentId=${comment.commentId})}"
      th:object="${replyComment}" method="post">

  <label for="new-comment-text">Comment</label>
  <textarea id="new-comment-text" th:field="*{content}" ></textarea>
  <button type="submit">Save</button>
</form>
</body>
</html>
